@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body {
    background: #000000;
}
#header {
    position: relative;
    background-size: cover;
    background-position: center;
}
/* ---------- NAV BAR -------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px 40px;
    z-index: 9999;
}
/* logo */
.nav_logo {
    width: 28px;
    padding: 4px;
    border-right: 1px solid rgba(94, 96, 96, .9);
}
/* logo name */
.logo {
    width: 180px;
    margin-right: auto;
}
/* set color to list items */
/* increase font size and remove underline */
nav a {
    color: #d7e7e7;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* Style the "Home" link */
nav a.nav-link {
    text-decoration: none;
    color: #d7e7e7;
    padding: 4px 18px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #B23BFF;
}
/* Add hover effect to the "Home" link */
nav a.nav-link:hover {
    background: #B23BFF;
    transition: 0.3s ease;
}
.container ul {
    display: none;
}
.container {
    padding: 20px 10px;
    margin-bottom: 10px; /* adjust space between nav and grid */
}
/* ----------- VISUALIZER DESCRIPTION --------*/
.description {
    color: #d7e7e7;
    background: #0f0f0f;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}
.description ul li {
    list-style: inside;
}
h1 {
    color: #d7e7e7;
    font-weight: 900;
    text-align: center;
    font-size: 38px;
}
h1 span {
    font-size: 12px;
    color: #d7e7e7;
    font-style: italic;
    background-color: #263F3F;
    padding: 1px;
}
p {
    text-align: center;
}
.call {
    margin-top: -12px;
    text-decoration: underline;
}
.algorithm-images {
    display: inline-block;
    margin: auto;
    object-fit: contain;
    margin-top: 6px;
    padding-bottom: 4px;
}
.algorithm-images img {
    width: 30%;
}
.learning-objective-wrapper {
    padding: 5px;
    border: 1px solid rgba(94, 96, 96, .9);
    border-radius: 20px;
    background: #0f0f0f;
    margin-bottom: 4px;
}
h2 {
    color: #B23BFF;
    font-weight: bold;
    padding-bottom: 6px;
    margin-top: -22px;
}
.instructions-wrapper {
    padding: 14px;
    border: 1px solid rgba(94, 96, 96, .9);
    border-radius: 20px;
    background: #0f0f0f;
    margin-bottom: 4px;
}
ul {
    text-align: left;
}
h4 {
    font-size: 12px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}
/* ----------- VISUALIZER BUTTONS -----------*/
.vis-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 8px;
}
label {
    color: #d7e7e7;
    margin-right: 5px;
}
select {
    margin-right: 15px;
}
#start-button {
    color: #d7e7e7;
    font-size: 14px;
    border-color: #d7e7e7;
    background: #263F3F;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 50px;
}
#start-button:hover {
    background: #00C763;
    border-color: #00C763;
    transition: 0.3s ease;
}
#reset-button {
    color: #d7e7e7;
    font-size: 14px;
    border-color: #B23BFF;
    background: #0f0f0f;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}
#reset-button:hover {
    background: #c162ff;
    transition: 0.3s ease;
}
/* ----------- LEGEND ------------- */
.legend-section {
    display: flex;
    background: linear-gradient(#333, #B23BFF);
    border-color: #1f1f1f;
    border-style: solid;
    color: #d7e7e7;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 6px;
}
.start-key, .end-key {
    width: 12px;
    margin-right: 8px;
}
.open-key, .blocked-key, .visited-key, .shortest-key {
    width: 12px;
    height: 10px;
    float: right;
    margin-top: 3%;
    margin-right: 8px;
    margin-left: 4px;
    border-radius: 2px;
}
.open-key {
    background-color: #d7e7e7;
}
.blocked-key {
    background-color: #000;
}
.visited-key {
    background-color: #333;
}
.shortest-key {
    background-color: #0080FF;
}
/* ----------- GRID CSS ----------- */
body {
    margin: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(70px, 1fr)); /* (# of columns, minmax(min, max)) */
    grid-template-rows: repeat(10, minmax(60px, auto)); /* Fixed width for each column */
    gap: 2px;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
}
.grid > div {
    background-color: #d7e7e7;
    padding: 1rem;
    border-radius: 3px;
}
.grid > div > img {
    display: none;
}
.grid > div > div {
    width: 100%;
    height: 100%;
}
/*
.grid > div > div > img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
*/
.grid-item {
    padding: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s;
    overflow: hidden;
}
:root {
    --open-cell-color: #333;
    --obstacle-color: #666;
}
.obstacle {
    background-color: #fff;
}
.update-cell {
    background-color: #333 !important;
}
.shortest-path-cell {
    background-color: #0080FF !important;
}
/* initial sprite */
.grid-item .image {
    background-image: url("../../images/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* second sprite */
.grid-item .image2 {
    background-image: url("../../images/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* mouse hover (not dragging sprite) */
.grid-item:hover {
    background-color: yellow;
}
/* mouse hover when dragging sprite */
.grid-item.hovered {
    transition: transform 0.5s ease;
    transform: scale(1.1);
    box-shadow: 0 0 25px #f0f6f6;
}
/*-- For Mobile users (MAX: 600px) --*/
@media only screen and (max-width: 600px) {
    /* ----------- NAV --------*/
    nav {
        padding: 5px 15px;
    }
    /* ----------- VISUALIZER DESCRIPTION --------*/
    .description {
        padding: 5%;
        border-radius: 20px;
    }
    h1 {
        font-size: 28px;
    }
    h1 span {
        display: none;
    }
    p {
        font-size: 14px;
    }
    .algorithm-images img {
        width: 50%;
    }
    h2 {
        font-size: 22px;
    }
    ul li {
        font-size: 14px;
    }
    h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: 900;
    }
    /* ----------- LEGEND ---------- */
    h5 {
        font-size: 12px;
    }
    .start-key, .end-key {
        width: 16px;
        margin-right: 12px;
    }
    .open-key, .blocked-key, .visited-key, .shortest-key {
        width: 20px;
        height: 18px;
        float: left;
        margin-top: 3%;
        margin-left: 0px;
    }
    /* ----------- GRID --------*/
    .grid {
        grid-template-columns: repeat(10, minmax(30px, 1fr));
        gap: 2.5px;
        padding: 2px;
    }
    .grid-item {
        border-radius: 2px;
    }
    .grid-item .image {
        width: 18px;
    }
    .grid-item .image2 {
        width: 18px;
    }
    /* ----------- LEGEND -------------*/
    .legend-section {
        font-size: 12px;
        padding: 9px;
    }
}
