@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body {
    background: #000000;
}
#header {
    position: relative;
    background-size: cover;
    background-position: center;
}
/* ---------- NAV BAR -------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0f0f0f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px 20px;
    z-index: 9999;
}
/* logo */
.nav_logo {
    width: 30px;
    padding: 4px;
    border-right: 1px solid rgba(94, 96, 96, .9);
}
/* logo name */
.logo {
    width: 190px;
    margin-right: auto;
}
/* set color to list items */
/* increase font size and remove underline */
nav a {
    color: #d7e7e7;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* Style the "Home" link */
nav a.nav-link {
    text-decoration: none;
    color: #d7e7e7;
    padding: 4px 18px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #B23BFF;
}
/* Add hover effect to the "Home" link */
nav a.nav-link:hover {
    background: #B23BFF;
    transition: 0.3s ease;
}
.container ul {
    display: none;
}
.container {
    padding: 20px 10px;
    margin-bottom: 10px; /* adjust space between nav and grid */
}
/* ----------- VISUALIZER DESCRIPTION --------*/
.description {
    color: #d7e7e7;
    background: #0f0f0f;
    padding: 2%;
    border-radius: 20px;
}
.description ul li {
    list-style: inside;
}
h1 {
    color: #d7e7e7;
    font-weight: 900;
}
h1 span {
    font-size: 12px;
    color: #B23BFF;
    font-style: italic;
}
h2 {
    color: #B23BFF;
    font-weight: bold;
}
h3 {
    font-weight: bold;
}
h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: 900;
}
h4 span {
    color: #0f0f0f;
}
/* ----------- VISUALIZER BUTTONS -----------*/
.vis-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 8px;
}
label {
    color: #d7e7e7;
    margin-right: 5px;
}
select {
    margin-right: 15px;
}
#start-button {
    color: #d7e7e7;
    font-size: 14px;
    border-color: #263F3F;
    background: #263F3F;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 50px;
}
#start-button:hover {
    background: #2F740E;
    transition: 0.3s ease;
}
#reset-button {
    color: #d7e7e7;
    font-size: 14px;
    border-color: #AB2AFF;
    background: #0f0f0f;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}
#reset-button:hover {
    background: #c162ff;
    transition: 0.3s ease;
}
/* ----------- GRID CSS -----------*/
body {
    margin: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(70px, 1fr)); /* (# of columns, minmax(min, max)) */
    grid-template-rows: repeat(3, auto);
    gap: 2px;
}
.grid > div {
    background-color: #d7e7e7;
    padding: 1rem;
    border-radius: 3px;
}
.grid > div > img {
    display: none;
}
.grid-item {
    padding: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s;
    overflow: hidden;
}
:root {
    --open-cell-color: #333;
    --obstacle-color: #666;
}
.start-cell {
    background-color: #0080FF !important;
}
.obstacle {
    background-color: #fff;
}
.dynamic-color {
    background-color: #fff;
}
.update-cell {
    background-color: #333 !important;
}
/* initial sprite */
.grid-item .image {
    background-image: url("../../images/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* second sprite (not yet implemented) */
.grid-item .image2 {
    background-image: url("../../images/diamond-symbol.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* hover cell effect (not dragging sprite) */
.grid-item:hover {
    background-color: yellow;
}
/* hover cell effect when dragging sprite */
.grid-item.hovered {
    transition: transform 0.5s ease;
    transform: scale(1.1);
    box-shadow: 0 0 25px #f0f6f6;
}
.test-pic .image3 {
    background-image: url("../../images/circle.png");
}
/*-- For Mobile users (MAX: 600px) --*/
@media only screen and (max-width: 600px) {
    /* ----------- VISUALIZER DESCRIPTION --------*/
    h1 {
        font-size: 28px;
    }
    h1 span {
        display: none;
    }
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 22px;
    }
    ul li {
        font-size: 14px;
    }
    h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: 900;
    }
    h4 span {
        color: #B23BFF;
    }
    /* ----------- GRID CSS -----------*/
    .grid {
        grid-template-columns: repeat(10, minmax(45px, 1fr)); /* (# of columns, minmax(min, max)) */
        gap: 1px;
    }
}
