* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background: #000000;
}
#header {
    position: relative;
    background-size: cover;
    background-position: center;
}
/* ---------- NAV BAR -------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #060607;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 9999;
}
/* logo */
.logo {
    width: 190px;
}
/* set color to list items */
/* increase font size and remove underline */
nav a {
    color: #f0f6f6;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* Style the "return home" link */
nav a.nav-link {
    text-decoration: none;
    color: #f0f6f6;
    margin: -10px 0;
    padding: 4px 18px;
    border-radius: 8px;
    display: inline-block;
}
/* Add hover effect to the "return home" link */
nav a.nav-link:hover {
    background: #fc2d61; /*#c162ff;*/
    box-shadow: 0 0 10px #fc2d61;
    transition: 0.8s ease;
}
.container ul {
    display: none;
}
.container {
    padding: 20px 10px;
    margin-bottom: 10px; /* adjust space between nav and grid */
}
/* ----------- VISUALIZER BUTTONS -----------*/
.vis-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 8px;
}
label {
    color: #f0f6f6;
    margin-right: 5px;
}
select {
    margin-right: 15px;
}
#start-button {
    color: #fff;
    font-size: 14px;
    border-color: rgb(76, 187, 23);
    background: rgb(76, 187, 23);/*#9b00ff;*/
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 50px;
}
#start-button:hover {
    background: rgb(76, 200, 23);
}
#reset-button {
    color: #f0f6f6;
    font-size: 14px;
    border-color: #9b00ff;
    background: #9b00ff;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}
#reset-button:hover {
    background: #c162ff;
}
/* ----------- GRID CSS -----------*/
body {
    margin: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(70px, 1fr)); /* (# of columns, minmax(min, max)) */
    grid-template-rows: repeat(3, auto);
    /*color: #f0f6f6; color contents of tiles*/
    gap: 2px;
}
.grid > div {
    background-color: #f0f6f6;
    padding: 1rem;
    border-radius: 3px;
}
.grid > div > img {
    display: none;
}
.grid > div.clicked {
    background-color: #000;
}
.grid-item {
    padding: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s;
    /*overflow: hidden;*/
}
:root {
    --open-cell-color: #333;
    --obstacle-color: #666;
}
.open-cell {
    background-color: #333;
}
.obstacle {
    background-color: #fff;
}
.dynamic-color {
    background-color: #fff;
}
/*
.visited-cell {
    background-color: #333 !important;
}
*/
.update-cell {
    background-color: #333 !important;
}
/* Starting Sprite */
.grid-item .image {
    background-image: url("../../images/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-item .image2 {
    background-image: url("../../images/diamond-symbol.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-item.hovered {
    transition: transform 0.5s ease;
    transform: scale(1.1);
    box-shadow: 0 0 25px #f0f6f6;
}
