*{
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
 }
body {
    color: #d7e7e7;
    background-color: #030303;
    font-weight: 300;
}
#container-landscape {
    display: none;
}
/* -- SCROLL ANIMATION -- */
.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-2%);
    transition: all 0.7s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
#nav-home {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(15%);
    transition: all 0.7s;
}
#nav-home.visible {
    color: red;
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}
@media(prefers-reduces-motion) {
    .hidden {
        transition: none;
    }
}
#header {
    position: relative;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(94, 96, 96, .5);
}
.container {
    padding: 1% 6%;
    width: auto;
}
nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: rgba(8, 8, 8, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    border-bottom: 1px solid rgba(215, 231, 231, 0.4);
    z-index: 1;
}
.nav_logo {
    width: 28px;
    padding: 4px;
    border-right: 1px solid rgba(215, 231, 231, 0.4);
}
.logo {
    margin-right: auto;
    margin-left: 1%;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 14px;
}
nav ul li a {
    color: #a7caca;
    font-size: 18px;
    text-decoration: none;
    padding: 6px;
    border: 1px solid rgba(215, 231, 231, 0.4);
    border-radius: 2px;
}
nav ul li a:hover {
    color: #d7e7e7;
    border: 1px solid #d7e7e7;
    transition: 200ms;
}
#portfolio-menu, #contact-menu {
    display: none;
}
.header-text {
    margin-top: 10%;
}
.mobile-header-text {
    display: none;
}
.header-text h1 {
    font-size: 72px;
    font-weight: 500;
    font-style: italic;
    line-height: 70px;
}
.hero-block {
    position: absolute;
    width: auto;
}
.name-block {
    display: flex;
    justify-content: flex-end;
    padding-left: 5rem;
    padding-right: 0.2rem;
    background-image: linear-gradient(to right, #662D8C, #9600F8);
}
.index-block {
    position: absolute;
    padding-top: 1%;
    font-style: italic;
    left: 3rem;
    border-left: 1px solid rgba(215, 231, 231, 0.4);
}
/* ------ VERTICAL NAV ------- */
.vertical-nav {
    padding: 0;
    text-align: right;
    margin-top: 10%;
}
.vertical-nav li {
    margin: 30px;
    list-style: none;
}
.vertical-nav li a {
    color: #a7caca;
    font-size: 20px;
    padding: 12px;
    text-decoration: none;
    border: 1px solid rgba(215, 231, 231, 0.5);
    border-radius: 2px;
}
.vertical-nav li a:hover {
    color: #d7e7e7;
    border: 1px solid #d7e7e7;
    transition: 200ms;
}
/* ----------- ABOUT ------------*/
.about {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    border-top: 1px solid rgba(215, 231, 231, 0.4);
    border-bottom: 1px solid rgba(215, 231, 231, 0.4);
}
.about h1 {
    font-size: 52px;
    font-weight: 500;
    font-style: italic;
}
.about h1 span {
    background-image: linear-gradient(to right, #662D8C, #9600F8);
    padding-left: 1.6rem;
}
/* -----------PORTFOLIO------------- */
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    min-height: 90vh;
    padding-bottom: 400px;
    border-top: 1px solid rgba(215, 231, 231, 0.4);
    border-bottom: 1px solid rgba(215, 231, 231, 0.4);
}
.main h2 {
    position: absolute;
    font-size: 180px;
    font-weight: 400;
    z-index: -1;
}
.main p {
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}
.row {
    display: flex;
    justify-content: center;
    margin: 9em auto;
}
.column-1, .column-2, .column-3 {
    flex: 1;
    padding: 10px;
    width: 273px;
    height: 300px;
}
.column-3 {
    transition-delay: 200ms;
}
.block {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #050505;
    height: 650px;
    padding: 15px 15px;
    border: 1px solid rgba(215, 231, 231, 0.2);
    box-shadow: rgba(255, 255, 255, 0.10) 0px 10px 15px -3px, rgba(255, 255, 255, 0.10) 0px 4px 6px -2px;
}
.tile {
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #B23BFF;
    object-fit: cover;
    overflow: hidden;
    transition: transform 200ms ease;
}
.tile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* OPACITY AND OPACITY COLOR LAYER FOR TILES */
.tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.tile:hover {
    transform: scale(1.05);
}
.column1-layer h3, .column2-layer h3, .column3-layer h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 0.5em;
}
.column1-layer p {
    font-size: 16px;
    padding-top: 1em;
    padding-bottom: 1.2em;
}
.column2-layer p {
    font-size: 16px;
    padding-top: 1em;
}
.column3-layer p {
    font-size: 16px;
    padding-top: 1em;
    padding-bottom: 2.44em;
}
/*----------- CONTACT ----------- */
#contact {
    border-top: 1px solid rgba(215, 231, 231, 0.4);
}
.contact-section {
    width: 100%;
}
.main-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.main-contact h2 {
    position: absolute;
    font-size: 180px;
    font-weight: 400;
    z-index: -1;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 76vh;
    margin: 9em auto;
    text-align: left;
    background-color: #050505;
    padding: 3% 4%;
    border-radius: 10px;
    border: 1px solid rgba(215, 231, 231, 0.4);
    box-shadow: rgba(255, 255, 255, 0.05) 0px 10px 15px -3px, rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
}
.contact-container span {
    font-size: 12px;
}
form {
    flex: 1;
    margin-right: 15%;
    border-right: 1px solid rgba(215, 231, 231, 0.4);
}
.form-group {
    margin-bottom: 26.5em;
}
input, textarea {
    position: absolute;
    width: 40%;
    font-size: 18px;
    padding: 0 12px;
    line-height: 40px;
    outline: none;
    border: 2px solid rgba(215, 231, 231, 0.8);
    border-radius: 2px;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1;
}
.label-name, .label-email, .label-subject, .label-message {
    position: absolute;
    color: rgba(215, 231, 231, 0.7);
    padding: 0.2em;
    margin: 8px 12px;
    background: #050505;
    transition: 0.2s ease;
}
#email {
    margin-top: 3.5em;
}
.label-email {
    margin-top: 4.5em;
}
#subject {
    margin-top: 7.25em;
}
.label-subject {
    margin-top: 8.75em;
}
#description {
    margin-top: 11.25em;
}
.label-message {
    margin-top: 13.25em;
}
input:focus, input:valid,
textarea:focus, textarea:valid {
    color: #d7e7e7;
    border: 2px solid #d7e7e7;
}
input:focus + .label-name,
input:valid + .label-name,
input:focus + .label-email,
input:valid + .label-email,
input:focus + .label-subject,
input:valid + .label-subject,
textarea:focus + .label-message,
textarea:valid + .label-message {
    color: #d7e7e7;
    height: 12px;
    line-height: 12px;
    transform: translate(-5px, -16px) scale(0.88);
    z-index: 1;
}
button {
    color: #a7caca;
    background: rgba(15, 15, 15, 0.9);
    padding: 10px 18px;
    border-radius: 2px;
    font-size: 18px;
    border: 1px solid rgba(215, 231, 231, 0.5);
    cursor: pointer;
}
button:hover {
    color: #030303;
    background: #d7e7e7;
    transition: 200ms;
}
.contact-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25%;
    margin-right: 10%;
}
.github {
    padding-right: 1.5em;
}
.contact-buttons button {
    margin-bottom: 18px;
}
/*--------CSS for Small Screens--------*/
nav #open-menu {
    display: none;
}
nav #close-menu {
    display: none;
}
/*-- MOBILE VIEW (MAX: 767px) --*/
@media only screen and (min-width: 320px) and (max-width: 932px) and (max-height: 450px) and (orientation: landscape) {
    #container-landscape {
        display: flex;
        color: #d7e7e7;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
    }
    #container-landscape > h1 {
        font-size: 36px;
    }
    #container-landscape > h1 > span {
        font-size: 24px;
        color: yellow;
    }
    #container-portrait {
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .progress-bar {
        display: none;
    }
    #container-landscape {
        display: none;
    }
    #container-portrait {
        display: block;
    }
    #header {
        width: 100vw;
        height: 100vh;
     }
    /* ----------- NAV --------*/
    nav {
        padding: 5px 15px;
    }
    nav #open-menu {
        display: block;
        padding: 5px 5px 0px 5px;
        margin: 5px;
        background-color: #0f0f0f;
        border: 1px solid #d7e7e7;
    }
    nav #open-menu img {
        padding: 15%;
    }
    nav #open-menu:hover {
        background-color: #444;
    }
    nav #close-menu {
        display: block;
        background: #0f0f0f;
        border: 2px solid #d7e7e7;
        position: absolute;
        padding: 5px 5px 0px 5px;
        top: 15px;
        left: 15px;
    }
    nav #close-menu:hover {
        background-color: #444;
    }
    nav #sidemenu {
        display: block;
        background: #0f0f0f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
        z-index: 2;
    }
    nav #sidemenu.menu-open {
        right: 0;
    }
    nav #sidemenu li {
        display: block;
        margin: 25px;
    }
     /* -- SCROLL ANIMATION -- */
     .hidden {
         opacity: 1;
         filter: blur(0);
         transform: translateX(0);
     }
     .show {
         transform: translateX(0);
     }
      #nav-home {
          opacity: 1;
          filter: blur(0);
          transform: translateX(0);
      }
      #nav-home.visible {
          opacity: 1;
          transform: translateX(0);
          filter: blur(0);
      }
     /* -- HIDE DESKTOP HERO -- */
     .header-text {
         display: none;
     }
     /* -- DISPLAY MOBILE HERO -- */
     .hero {
         height: 100vh;
         display: flex;
         justify-content: left;
         align-items: flex-end;
         color: #d7e7e7;
         padding-bottom: 25%;
     }
     .hero .hero-content {
         position: relative;
     }
     .mobile-header-text {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         align-items: flex-start;
         position: absolute;
         bottom: 0;
         left: 0;
         color: #d7e7e7;
     }
     .welcome-text h1 {
         font-size: 48px;
         text-transform: uppercase;
         margin: 0;
     }
     .welcome {
         margin-bottom: 150px;
         border-bottom: 2px solid #d7e7e7;
     }
     .welcome-text h1 .uriel {
         padding-left: 7rem;
         background-image: linear-gradient(to right, #662D8C, #9600F8);
     }
     .mobile-index-block {
         font-size: 14px;
         border-left: 1px solid white;
         padding-left: 10px;
     }
     /* ------ VERTICAL NAV ------- */
     .vertical-nav {
         display: none;
     }
     /* ------ ABOUT ------- */
     #inspire {
        display: none;
     }
     /* --- PORTFOLIO --- */
     .main {
         padding-bottom: 125px;
     }
     .main h2 {
         padding-left: 2rem;
         font-size: 35px;
     }
     .main p {
         font-size: 16px;
     }
     .row {
         display: grid;
     }
     .column-1, .column-2, .column-3 {
         padding-bottom: 42em;
         width: 300px;
         height: 650px;
     }
     .tile {
        background: #B23BFF;
     }
     .column1-layer h3, .column2-layer h3, .column3-layer h3 {
         text-align: left;
     }
     .pulser {
         width: 50px;
         height: 50px;
     }
     /*----Contact----*/
     .main-contact h2 {
         padding-left: 2rem;
         font-size: 35px;
     }
     .contact-container {
       padding: 5%;
     }
     textarea {
         width: 320px;
         height: 100px;
     }
}