@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
 }
 html {
    scroll-behavior: smooth;
 }
 .progress-bar {
    position: fixed;
    width: 100%;
    height: 3px;
    top: 0.5px;
    z-index: 5;
 }
 .filled {
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, #B23BFF, #fff);
    border-radius: 10px;
 }
 body {
    background-image: url('images/long.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
 }
 #header {
    position: relative;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(94, 96, 96, .5);
    z-index: 1;
 }
 .container {
    padding: 10px 10%;
 }
/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px;
}
/* logo */
.nav_logo {
    width: 28px;
    padding: 4px;
    border-right: 1px solid rgba(94, 96, 96, .9);
}
/* logo name */
.logo {
    width: 180px;
    margin-right: auto;
}
nav ul {
    display: flex;
    list-style: none;
}
/* position list items */
/* change margins */
nav ul li {
    margin: 10px 12px;
}

/* set color to list items */
/* increase font size and remove underline */
nav ul li a {
    color: #d7e7e7;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* add hover effect to list items */
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #B23BFF;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/* transitioning underline effect */
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    padding: 70px 20px;
    margin-top: 10%;
}
.header-text p {
    color: #d7e7e7;
    margin-top: 2px;
    font-size: 18px;
    font-style: italic;
}
.header-text h1 {
    color: #d7e7e7;
    font-size: 38px;
}
.header-text h1 span {
    color: #B23BFF;
}
.header-text a {
    text-decoration: none;
    color: #d7e7e7;
    background: #B23BFF;
    padding: 10px 18px;
    border-radius: 18px;
    display: inline-block;
    margin-top: 2%;
}
.header-text a:hover {
    background: #c162ff;
}
.back-texture img {
    position: fixed;
    width: 525px;
    height: 140%;
    left: 40%;
    transform: translate(100%);
    bottom: 0;
}
/* self image */
.self-pic {
    size: 20px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    right: 15%;
    top: 30%;
    bottom: 0;
    z-index: -1;
}
.self-pic img {
    height: 80%;
}

/* -----------PORTFOLIO------------- */
#portfolio-section h1 {
    margin-top: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
    padding-bottom: 400px;
    border-bottom: 1px solid rgba(94, 96, 96, .5);
}
.main h2 {
    color: #d7e7e7;
    padding-left: 130px;
    font-size: 42px;
    padding-top: 50px;
}
.main p {
    color: #d7e7e7;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}
.row {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0 auto;
}
.column-2, .column-3 { /*.column-1, */
    flex: 1;
    padding: 10px;
    width: 273px;
    height: 300px;
}
.block {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #0f0f0f;
    height: 650px;
    padding: 15px 15px;
}
.tile {
    position: relative;
    display: flex;
    text-align: center;
    background: #ffc2a4;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    border: 2px solid #B23BFF;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.5s ease;
}
.tile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* OPACITY AND OPACITY COLOR LAYER FOR TILES */
.tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 25, 0.3); image film*/
  border-radius: 10px;
}
.tile:hover {
    background-color: #abff90;
    transform: scale(1.1);
}
/*.tile:active {
    background-color: #fff;
}*/
/* work in progress header
.column1-layer h3{
    color: #d7e7e7;
    padding-top: 12px;
}
 work in progress description
.column1-layer p {
    font-size: 17px;
    text-align: left;
    padding-top: 10px;
} */
/* algorithm visualizer header */
.column2-layer h3{
    color: #d7e7e7;
    padding-top: 12px;
    text-decoration: underline;
}
/* algorithm visualizer description */
.column2-layer p {
    font-size: 16px;
    padding-top: 10px;
}
.column2-layer p span {
    color: #B23BFF;
}
/* task manager header */
.column3-layer h3{
    color: #d7e7e7;
    padding-top: 12px;
    text-decoration: underline;
}
/* task manager description */
.column3-layer p {
    font-size: 16px;
    padding-top: 10px;
}
.column3-layer p span {
    color: #B23BFF;
}
/*----------- CONTACT ----------- */
#contact {
  padding: 25px 0;
  margin-top: -29px;
}
.contact-section {
    width: 100%;
    height: 100vh;
}
.main-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.main-contact h2 {
    color: #d7e7e7;
    padding-left: 130px;
    font-size: 42px;
    padding-top: 12px;
}
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding-top: 50px;
}
.contact-container span {
    color: #d7e7e7;
    font-size: 12px;
}
.form-group {
    color: #d7e7e7;
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    padding-bottom: 4px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d7e7e7;
}
textarea {
    width: 340px;
    height: 100px;
}
button {
    text-decoration: none;
    color: #d7e7e7;
    background: #B23BFF;
    padding: 10px 18px;
    border-radius: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #c162ff;
}
/*----------- FOOTER ---------*/
.icons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(15, 15, 15, 0.9);
    backdrop-filter: blur(26px);
}
/*--------CSS for Small Screens--------*/
nav #open-menu {
    display: none;
}
nav #close-menu {
    display: none;
}
/*-- For Mobile users (MAX: 600px) --*/
@media only screen and (max-width: 600px) {
    /* ----------- NAV --------*/
    nav {
        padding: 5px 15px;
    }
    nav #open-menu {
        display: block;
        padding: 5px 5px 0px 5px;
        margin: 5px;
        background-color: #0f0f0f;
        border: 1px solid #B23BFF;
    }
    nav #open-menu img {
        padding: 10%;
    }
    nav #open-menu:hover {
        background-color: #B23BFF;
    }
    nav #close-menu {
        display: block;
        background: #0f0f0f;
        border: 1px solid #B23BFF;
        position: absolute;
        padding: 5px 5px 0px 5px;
        top: 15px;
        left: 15px;
    }
    nav #close-menu:hover {
        background-color: #B23BFF;
    }
    nav #sidemenu {
        display: block;
        background: #0f0f0f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
        z-index: 2;
    }
    nav #sidemenu.menu-open {
        right: 0;
    }
    nav #sidemenu li {
        display: block;
        margin: 25px;
    }
    /*---Splash---*/
     #header {
        width: 100%;
        height: 100vh;
     }
     .header-text {
         margin-top: 5%;
     }
     .header-text p {
         font-size: 16px;
     }
     .header-text h1 {
         font-size: 32px;
     }
     .header-text a {
         margin: 10px 0;
     }
     .self-pic {
         right: 5%;
         top: 40%;
     }
     .self-pic img {
         height: 65%;
     }
     /*---Portfolio---*/
     .main {
         padding-bottom: 125px;
     }
     .main h2 {
         padding-left: 15%;
         font-size: 35px;
     }
     .main p {
         font-size: 16px;
     }
     .row {
         display: grid;
     }
     .column-2, .column-3 { /*.column-1*/
         padding-bottom: 50px;
         width: 325px;
         height: 675px;
     }
     .tile {
        background: #AB2AFF;
     }
     .tile img {
         max-width: 96%;
         max-height: 100%;
     }
     .column2-layer h3, .column3-layer h3{ /*.column1-layer h3,*/
         text-align: left;
     }
     /*----Contact----*/
     .main-contact h2 {
         padding-left: 15%;
         font-size: 35px;
     }

}