@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    color: rgb(239, 255, 250);
    background: #000000;
}
/* ---- HERO ---- */
#spaceman {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* ----- NAVIGATION ----- */
.search, .search-tools {
    display: flex;
    align-items: center;
    justify-content: center;
}
#game-input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-right: 12px;
}
.search button {
    padding: 8px 12px 8px 12px;
    color: #EFFFFA;
    background: none;
    border: 2px solid #002E52;
    border-radius: 18px;
}
.search button:hover {
    cursor: pointer;
    background: #444;
}
.search-tools {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.search-tools button {
    margin: 12px;
    padding: 1%;
    color: #EFFFFA;
    background-color: transparent;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
}
.search-tools button.active {
    background-color: red;
}
.search-tools button:hover {
    background: #444;
}
.search-tools #coming-soon {
    color: rgba(239, 255, 250, .5);
}
.search-tools #coming-soon:hover {
    background: none;
    cursor: default;
}
/* ----- SKELETON ------ */
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
    width: 100%;
    height: 1rem;
    margin-bottom: .75rem;
    border-radius: .125rem;
}
.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}
@keyframes skeleton-loading {
    0% {
        background-color: hsl(198, 42%, 12%);
    }
    100% {
        background-color: hsl(199, 18%, 30%);
    }
}
/* ----- GAMES DISPLAY -----*/
.game-item {
    padding: 1em;
}
.game-item img {
    width: 160px;
    height: 200px;
}
.game-container {
    padding: 0.5em;
    background: #131513;
    border-radius: 14px;
    border: 2px solid #002E52;
    max-width: 1020px;
    margin-inline: auto;
}
.game-container:hover {
    background-color: rgb(26, 29, 26);
    cursor: pointer;
}
.game-content {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    grid-gap: 1rem;
    overflow: hidden;
}
.game-details {
    font-style: italic;
    grid-column: span 3;
}
.game-title::before {
    content: "Title: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.game-developer::before {
    content: "Developer: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.game-genre::before {
    content: "Genre: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.game-release::before {
    content: "Release: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.game-platform::before {
    content: "Platform: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.game-rating::before {
    content: "Rating: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
/* ------- GAME MODAL ------- */
.modal-open {
    overflow: hidden;
}
.game-window::backdrop {
    background: rgb(0 0 0 / .4);
}
.game-window {
    padding: 1em;
    width: 80%;
    min-width: 350px;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: rgb(239, 255, 250);
    background: #131513;
    box-shadow: 0 0 1em rgba(239, 255, 250, .1);
    text-align: left;
}
nav {
    height: 40px;
}
.close-modal {
    float: right;
    background: #131513;
    border: 2px solid #EFFFFA;
    border-radius: 12px;
    padding: 3px 3px 0px 3px;
}
.close-modal:hover {
    background: #444;
    cursor: pointer;
}
.first-container {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    grid-gap: 1rem;
    margin-bottom: 15px;
}
.first-container > div {
    grid-column: span 4;
}
.first-container > div > p {
    font-style: italic;
    margin-below: 5px;
}
.modal-title::before {
    content: "Title: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.modal-developer::before {
    content: "Developer: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.modal-genre::before {
    content: "Genre: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.modal-release::before {
    content: "Release: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.modal-platform::before {
    content: "Platform: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.modal-rating::before {
    content: "Rating: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: normal;
}
.modal-summary {
    text-align: center;
    padding: 2%;
    border: 1px solid rgba(153, 141, 160, 0.6);
    border-radius: 12px;
    margin-bottom: 15px;
}
/* ------- MODAL VIDEO SLIDER ------- */
.parent-slider {
    overflow: hidden;
}
.slider {
    position: relative;
    overflow: hidden;
}
.slide-button {
    position: absolute;
    height: 50px;
    width: 50px;
    color: #EFFFFA;
    background: #000;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-375%);
}
.slide-button:hover {
    background: #444;
}
.slide-button#prev-slide {
    left: -10px;
    margin-left: 10px;
}
.slide-button#next-slide {
    right: -10px;
    margin-right: 10px;
}
.slider .modal-videos {
    display: flex;
    /*aspect-ratio: 16 / 9;*/
    gap: 10px;
    transition: transform 0.5s ease;
    scrollbar-width: none;
    margin-bottom: 15px;
}
.slider .modal-videos::-webkit-scrollbar {
    display: none;
}
.slider .modal-videos video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.custom-scrollbar {
    height: 24px;
    width: 100%;
}
.custom-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #998DA0;
    position: relative;
    border-radius: 4px;
}
.custom-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002E52;
    border-radius: inherit;
}
/* -------- SIMILAR GAMES -------- */
.modal-similar-games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: start;
    align-items: center;
    padding: 10px;
    max-width: 80%;
}
.similar-game p {
    font-size: 12px;
}