@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    color: rgb(239, 255, 250);
    background: #000000;
}
/* ----- NAVIGATION ----- */
.search, .search-tools {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-tools button {
    margin: 12px;
    padding: 1%;
    color: #EFFFFA;
    background: none;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
}
.search-tools button:hover {
    background: #444;
}
.search-tools #coming-soon:hover {
    background: none;
    cursor: default;
}
/* ----- GAMES DISPLAY -----*/
.game-item {
    padding: 1em;
}
.game-container {
    padding: 0.5em;
    background: #131513;
    border-radius: 14px;
    border: 2px solid #002E52;
}
.game-container:hover {
    background-color: rgb(26, 29, 26);
    cursor: pointer;
}
.game-content {

}
/* ------- GAME MODAL ------- */
.modal-open {
    overflow: hidden;
}
.game-window {
    padding: 1em;
    max-width: 850px;
    max-height: 80ch;
    min-width: 600px;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: rgb(239, 255, 250);
    background: #131513;
    box-shadow: 0 0 1em rgba(239, 255, 250, .1);
    text-align: left;
}
.close-modal {
    float: right;
    background: #131513;
    border: 1px solid #EFFFFA;
    border-radius: 12px;
    padding: 5px 5px 0px 5px;
}
.close-modal:hover {
    background: #444;
    cursor: pointer;
}
.first-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
    margin-bottom: 15px;
}
.modal-image {
    grid-column: 1;
    grid-row: span 3;
    width: 90%;
    height: auto;
    margin: auto;
}
.second-container {
    /* doesn't appear necessary */
    grid-column: span 2;
    grid-row: span 3;
}
.modal-title,
.modal-developer,
.modal-genre,
.modal-release,
.modal-platform,
.modal-rating {
    white-space: nowrap;
    text-decoration: italic;
}
.modal-title::before {
    content: "Title: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: italic;
}
.modal-developer::before {
    content: "Developer: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: italic;
}
.modal-genre::before {
    content: "Genre: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: italic;
}
.modal-release::before {
    content: "Release: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: italic;
}
.modal-platform::before {
    content: "Platform: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: italic;
}
.modal-rating::before {
    content: "Rating: ";
    font-weight: bold;
    color: #EFFFFA;
    font-style: italic;
}
.modal-summary {
    text-align: center;
    padding: 2%;
    border: 1px solid rgba(153, 141, 160, 0.6);
    border-radius: 12px;
    margin-bottom: 15px;
}
/* ------- MODAL VIDEO SLIDER ------- */
.slider {
    position: relative;
    overflow: hidden;
}
.slider .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #EFFFFA;
    background: #000;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider .slide-button:hover {
    background: #444;
}
.slider .slide-button#prev-slide {
    left: -20px;
    margin-left: 10px;
}
.slider .slide-button#next-slide {
    right: -20px;
    margin-right: 10px;
}
.slider .modal-videos {
    display: flex;
    /*aspect-ratio: 16 / 9;*/
    gap: 10px;
    transition: transform 0.5s ease;
    scrollbar-width: none;
    margin-bottom: 15px;
}
.slider .modal-videos::-webkit-scrollbar {
    display: none;
}
.slider .modal-videos video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.custom-scrollbar {
    height: 24px;
    width: 100%;
}
.custom-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #998DA0;
    position: relative;
    border-radius: 4px;
}
.custom-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002E52;
    border-radius: inherit;
}
/* -------- SIMILAR GAMES -------- */
.modal-similar-games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    justify-items: start;
    align-items: center;
    padding: 10px;
}
.similar-game p {
    font-size: 12px;
}