@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body {
    background: #060607;
}
#header {
    position: relative;
    background-size: cover;
    background-position: center;
}
/* nav bar for task-manager.html */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px 40px;
    z-index: 9999;
}
/* logo */
.nav_logo {
    width: 28px;
    padding: 4px;
    border-right: 1px solid rgba(94, 96, 96, .9);
}
/* logo name */
.logo {
    width: 180px;
    margin-right: auto;
}
/* set color to list items */
/* increase font size and remove underline */
nav a {
    color: #d7e7e7;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* Style the "Home" link */
nav a.nav-link {
    color: #d7e7e7;
    padding: 4px 18px;
    border-radius: 18px;
    border-right: red;
    display: inline-block;
    border: 1px solid #B23BFF;
}
/* Add hover effect to the "Home" link */
nav a.nav-link:hover {
    background: #B23BFF;
    transition: 0.3s ease;
}
.container ul {
    display: none;
}
.container {
    padding: 20px 10px;
}
/*--------- TEXT HEADING -----------*/
.header-text {
    margin: 4% 2% 4% 2%;
    color: #d7e7e7;
    background: #0f0f0f;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}
.header-text h1 {
    font-size: 34px;
    padding-bottom: 5px;
    font-weight: 900;
}
.header-text h1 span {
    color: #d7e7e7;
    font-size: 12px;
    font-style: italic;
    background-color: #263F3F;
    padding: 1px;
}
p {
    text-decoration: underline;
    padding-bottom: 4px;
}
.header-text h2 {
    color: #B23BFF;
    font-weight: bold;
    margin-top: -22px;
}
.instructions-wrapper {
    padding: 14px;
    border: 1px solid rgba(94, 96, 96, .9);
    border-radius: 20px;
    background: #0f0f0f;
    margin-bottom: 4px;
}
.header-text ul li {
    list-style: inside;
    text-align: left;
}
/*--------- PROGRAM FIELDS ----------*/
.task-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.task-program p {
    color: #d7e7e7;
    padding-right: 5px;
}
.add-task {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*------ TASK INPUT FIELD --------*/
#task-input {
    width: 290px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
}
label {
    color: #d7e7e7;
}
#add-button {
    text-decoration: none;
    color: #d7e7e7;
    background: #AB2AFF;
    padding: 10px 18px;
    border-radius: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
#add-button:hover {
    background: #c162ff;
}
.task-list {
    width: 500px;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d7e7e7;
}
.task-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding: 8px;
}
.task-headers h3 {
    font-size: 18px;
    color: #d7e7e7;
    width: 50%;
}
.task-display {
    background-color: #060607;
    padding: 10px;
}
.task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px; /* Adjust space between checkbox, title, and priority */
}
.task-content {
    flex-grow: 1;
}
.task-priority {
    position: absolute;
    padding-left: 325px;
}
/*li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #d7e7e7;
}*/
.task-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
#delete-button {
    color: #d7e7e7;
    background: #0f0f0f;
    border-color: #e61045;
    padding: 10px 18px;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3%;
}
#delete-button:hover {
    background: #fc2d61;
    transition: 0.3s ease;
}
#clear-button {
    color: #d7e7e7;
    padding: 8px 16px;
    border-radius: 18px;
    font-size: 16px;
    background: #0f0f0f;
    border-color: #AB2AFF;
    cursor: pointer;
    margin-top: 10px;
}
#clear-button:hover {
    background: #c162ff;
    transition: 0.3s ease;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #d7e7e7;
}
.task-item p {
    margin-left: 10px;
    margin-right: 10px;
}

/*-- For Mobile users (MAX: 600px) --*/
@media only screen and (max-width: 600px) {
    /* ----------- NAV --------*/
    nav {
        padding: 5px 15px;
    }
    /*--------- TEXT HEADING -----------*/
    .header-text {
        margin: 5%;
        padding: 5%;
    }
    .header-text h1 {
        font-size: 28px;
    }
    .header-text h1 span {
        display: none;
    }
    p {
        font-size: 14px;
    }
    .header-text h2 {
        font-size: 22px;
    }
    /*------ TASK INPUT FIELD --------*/
    #task-input {
        width: 160px;
        padding: 8px;
        margin: 2%;
    }
    .task-list {
        width: 400px;
        margin: 2%;
    }
    .add-task {
        margin: 2%;
        margin-left: -10%;
    }
}